<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block headMetaDescription %}
    <meta name="description" content="{{ site.description }}" />
    {% endblock %}

    {% include "./partials/social.njk" %}

    {% block headLink %}{% endblock %} 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" href="/css/main.css" />
    
    {% block headScript %}{% endblock %}
    
    {% include "./partials/analytics.njk" %}

    <title>{{ title or site.title }} - {{ site.author }}</title>
  </head>
  <body class="{{ layout }}">
    <div class="container">
      <div class="col-12">
        <header>
          <a href="/">
            <span class="site-title">Keith W.</span>
            <span class="site-type">Blog</span>
            <span class="cta">See other posts</span>
          </a>
        </header>

        {% block bodyContent %}
        {{ content | safe }}
        {% endblock %}

        <footer>
          <hr />
          <span>&copy; {{ site.copyrightYear }}</span>
        </footer>
      </div>
    </div>

    {% block footerScript %}{% endblock %}
  </body>
</html>
