<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ (content | metaDescription) or (site.description) }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{ title or site.title }} - {{ site.author }}</title>
  </head>
  <body class="{{ layout }}">
    <div class="container">
      <div class="col-12">
        <header>
          <a href="/">
            <span class="site-title">Keith W.</span>
            <span class="site-type">Blog</span>
            <span class="cta">See other posts</span>
          </a>
        </header>

        {{ content | safe }}

        <footer>
          <hr />
          <span>&copy; {{ site.copyrightYear }}</span>
        </footer>
      </div>
    </div>

    <!-- Netlify admin auth -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
