<!-- 
  Description: 
  Adds responsive image sizes to images defined with markdown syntax. 
  It would resize them only if the source image is bigger than 680px.

  Abriged version of:
  https://discourse.gohugo.io/t/simple-image-render-hook-template-for-responsive-images/22464
  and
  https://www.w3schools.com/TAgs/att_source_srcset.asp
-->

{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $alt := .PlainText | safeHTML }}

{{ if not $alt }}
{{ $alt = "Image" }}
{{ end }}

{{ if gt $image.Width 680 }}
{{ $largeImage := $image.Resize "1360x jpg q90" }}
{{ $defaultImage := $image.Resize "680x jpg q90" }}
  <picture>
    <source media="(min-width:1070px)" srcset="{{ $largeImage.RelPermalink }}">
    <img src="{{ $defaultImage.RelPermalink }}" loading="lazy" alt="{{ $alt }}" />
  </picture>
{{ else }}
{{ $width := $image.Width }}
{{ $options := print $width "x jpg q90" }}
{{ $smallSourceImage := $image.Resize $options }}
  <img src="{{ $smallSourceImage.RelPermalink }}" loading="lazy" alt="{{ $alt }}" />
{{ end }}