{{ define "main" }}

<section class="section narrow">

    {{ partial "article/hero.html" . }}

    <article  id="articleContent" class="post-content">
        {{ .Content }}
    </article>

    {{ partial "article/next.html" . }}
</section>
{{ end }}