@mixin heading($size, $lheight: 1.5) {
  font-size: $size;
  font-weight: $font-weight-semi-bold;
  line-height: $lheight;
  margin: $size 0 $font-size-base 0;
  color: var(--heading-color);
}

@mixin columns() {
  @for $i from 1 through $grid-column-count {
    .col-#{$i} {
      grid-column: span #{$i};
    }
  }
}
