// The only file used to override theme defaults. Imported in Theme's global.scss file

$image-border-radius: 10px;
$desktop-max: 1070px;
$tablet-max: 735px;
$phablet-max: 540px;

body {
    --accent:#0080FF;
}

/* LISTS */
ul {
    li:before {
        border-radius: 50%;
    }
    ul {
        display: block;
        padding-bottom: 0;
        li:last-child {
            padding-bottom: 0;
        }
    }
}
/** TABLET **/
@media screen and (max-width: $tablet-max){
    ol li{
        padding-left: 30px;
        padding-bottom: 15px;
    }
    ol li p{
        padding-left: 30px;
        padding-bottom: 15px;
    }
    ol, ul {
        max-width: 470px;
    }
}

#Articles__Hero {
    .heading-container {
        margin: 30px 0;
    }
}

.article-author-link {
    strong {
        margin-right: 20px;
    }
    span {
        display: none;
    }
}
.article-header {
    margin: 50px auto;

    @media screen and (max-width: $phablet-max){
        margin: 0 auto 40px;
        padding: 0;
    }
}

.article-hero-image {
    box-shadow: none;
    -webkit-box-shadow: none;

    img {
        border-radius: $image-border-radius;
    }
}

.articles-paginator {
    margin-top: 10px;
}

.image-container {
    border-radius: $image-border-radius;
}
/*PHABLET*/
@media screen and (max-width: $phablet-max){
    .image-container {
        border-radius: $image-border-radius $image-border-radius 0 0;
    }
}

.post-content{
    padding-top: 60px;

    a:hover {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: 100%;
    }

    @media screen and (max-width: $desktop-max){
        h1, h2, h3, h4, h5, h6{ 
            max-width: 507px;
        }
    }
    
    @media screen and (max-width: $tablet-max){
        h1, h2, h3, h4, h5, h6{ 
            padding: 0 2rem;
        }
    }

    @media screen and (max-width: $phablet-max){
        padding: 35px 0;
    }
}

.shortcode-tip {
    .shortcode-tip-title {
        font-weight: bold;
    }
}

/* PHABLET */
@media screen and (max-width: $phablet-max){
    .footer-text {
        margin: 0;
    }
    .article-hero-heading {
        margin-top: 0;
    }
    .article-link h2 {
        margin: 0;
    }
    h4 {
        font-size: 18px;
    }
    .social-icon-outer {
        margin-top: 25px;
    }
}

/* TABLET */
@media screen and (max-width: $tablet-max){
    .narrow {
        li > p {
            padding: 0;
        }
    }
}

/* DESKTOP */
@media screen and (max-width: $desktop-max){
    h2 {
        font-size: 30px;
    }
}