<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Copyright }}
        </div>
        {{ partial "social-links/social-links.html" . }}
    </div>
</div>