<Section class="section">
    <div class="nav-container">
      <a class="logo-link" href="{{ .Site.BaseURL }}">
        {{ partial "icons/ui/logo.html" . }}
        <span class="header-hidden">Navigate back to the homepage</span>
      </a>
      <div class="nav-controls">
        <button id="copyButton" class="icon-wrapper">
          {{ partial "icons/ui/link.html" . }}
          <div id="toolTip" class="tool-tip " >
              copied
          </div>
          <input id="copyText" style="opacity: 0;" type="text" class="tool-tip " />
        </button>
  
        <button id="themeColorButton" class="icon-wrapper"> 
          <div id="sunRays" class="sun-rays"></div>
          <div id="moonOrSun" class="moon-or-sun"></div>
          <div id="moonMask" class="moon-mask"></div>
        </button>
      </div>
  </div>
  </Section>
  
  {{ $script := resources.Get "js/toggleLogos.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  
  {{ $script := resources.Get "js/toggleColors.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  
  {{ $script := resources.Get "js/copyUrl.js" }}
  <script src="{{ $script.RelPermalink }}"></script>