<a href="/authors/keith-wickramasekara" class="article-author-link">
  <div class="article-author-avatar">
    <img src="/images/site/keith-wickramasekara.jpeg" />
  </div>
  <strong>Keith Wickramasekara</strong>
  <span class="hide-on-mobile">,&nbsp;</span>
</a>
