<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    {{ .Page.Date.Format "January 2, 2006" }}
                    {{ with .Page.Params.timetoread }} • {{ . }} min read{{ end }}
                </div>
            </div>
        </header>
        {{ if .Page.Params.hero }}
        {{ with .Page.Resources.GetMatch .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero" style="position: relative;">
            <img src={{ (.Fill `1000x400`).RelPermalink }} />
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>