---
layout: home
title: Blog
---

<main>
  <div class="container intro">
    <div class="col-3 author-image-container">
      <img
        class="author-image"
        src="https://ucarecdn.com/1c37c98d-f2e0-4419-9f0f-814804781e71/-/resize/240x/-/quality/normal/"
        alt="Author image"
      />
    </div>
    <div class="col-9 intro-text-container">
      <p class="intro-text">{{ site.description }}</p>
    </div>
  </div>

  <ul class="post-list">
    {% for post in collections.post | reverse %}
    <li>
      <a class="post-link" href="{{ post.data.page.url }}">{{
        post.data.title
      }}</a>
      <a class="tag" href="/tags/{{ post.data.tags[1] }}">{{
        post.data.tags[1]
      }}</a>
    </li>
    {% endfor %}
  </ul>
</main>
