---
layout: base
title: Blog
---

<main>
  <div class="container intro">
    <div class="col-3 author-image-container">
      <img
        class="author-image"
        src="https://ucarecdn.com/1c37c98d-f2e0-4419-9f0f-814804781e71/-/resize/240x/-/quality/smart_retina/"
        alt="Author image"
      />
    </div>
    <div class="col-9 intro-text-container">
      <p class="intro-text">
        Hey I'm Keith Wickramasekara, a software engineer by profession and a
        photographer by hobby. This is a small space on the internet where I
        drop my thoughts and ideas on those two topics and my other interests
        like personal finance.
      </p>
    </div>
  </div>

  <ul class="post-list">
    {% for post in collections.post | reverse %}
    <li>
      <a href="{{ post.data.page.url }}">{{ post.data.title }}</a>
      <a href="/tags/{{ post.data.tags[1] }}" class="tag">{{
        post.data.tags[1]
      }}</a>
    </li>
    {% endfor %}
  </ul>
</main>
