<!-- 
    Description: use this shortcode to avoid markdown image processing.
    Usage: { {<specialimage src="images/image.png" alt="text" resize="200x">} }
-->
{{ $src := (string (.Get "src")) }}
{{ $resize := (string (.Get "resize")) }}
{{ $img := $.Page.Resources.GetMatch $src}}
{{ $scratch := newScratch }}
{{ $alt := (string (.Get "alt")) }}

{{ if not $alt }}
{{ $alt = "Image" }}
{{ end }}

{{ if $resize }}
{{ $scratch.Set "image" ($img.Resize $resize) }}
{{ else }}
{{ $scratch.Set "image" $img }}
{{ end }}
<p>
    <img src="{{ ($scratch.Get `image`).RelPermalink }}" alt="{{ $alt }}" />
</p>