<!-- MS Clarity -->
<script type="text/javascript">
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "gj3o7if4u0");
</script>

<!-- Analytics -->
<script
  defer
  data-domain="blog.keithw.me"
  src="https://analytics.keithw.me/js/script.js"
></script>
