<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{{ title or site.title }} - {{ site.author }}"
/>
<meta property="og:image" content="{{ shareCardImage }}" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="@keith_m_w" />
<meta
  name="twitter:title"
  content="{{ title or site.title }} - {{ site.author }}"
/>
<meta name="twitter:image" content="{{ shareCardImage }}" />
